<% if alert %>
  <div class="flex justify-center">
    <div data-controller="flash" class="animated fadeInDown flex items-center bg-red-700 text-white font-bold font-montserrat rounded-md fixed top-2 p-1 drop-shadow-lg">
      <%= alert %>
      <button type="button" data-action="flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-6 h-6 border-l">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>

<% if notice %>
  <div class="flex justify-center">
    <div data-controller="flash" class="animated fadeInDown flex items-center bg-green-700 text-white font-bold font-montserrat rounded-md fixed top-2 p-1 drop-shadow-lg">
      <%= notice %>
      <button type="button" data-action="flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-6 h-6 border-l">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>