<% if alert %>
  <div class="z-40 flex justify-center">
    <div data-controller="flash" class="fixed flex items-center p-1 font-bold text-white bg-red-700 rounded-md animated fadeInDown font-montserrat top-2 drop-shadow-lg">
      <%= alert %>
      <button type="button" data-action="flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 border-l">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="z-40 flex justify-center">
    <div data-controller="flash" class="fixed flex items-center p-1 font-bold text-white bg-green-700 rounded-md animated fadeInDown font-montserrat top-2 drop-shadow-lg">
      <%= notice %>
      <button type="button" data-action="flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 border-l">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>
