<%= link_to 'https://www.youtube.com/watch?v=71NAThAf5yw', class: 'bg-[#25D366] fixed right-3 bottom-3 flex items-center p-2 rounded-lg hover:animate-pulse' do %>
  <%= image_tag('shared/logo_whatsapp.png', :class => "object-scale-down h-5 w-max rounded-lg")%>
  <div class="font-montserrat px-1 text font-semibold text-lg text-white">Whatsapp</div>
<% end %>