<%= link_to 'https://www.youtube.com/watch?v=71NAThAf5yw', class: 'hidden bg-[#25D366] fixed right-3 bottom-3 lg:flex items-center p-2 rounded-lg hover:animate-pulse' do %>
  <%= image_tag('shared/logo_whatsapp.png', :class => "object-scale-down h-5 w-max rounded-lg")%>
  <div class="px-1 text-lg font-semibold text-white font-montserrat text">Whatsapp</div>
<% end %>
<%# https://wa.me/whatsappphonenumber?text=urlencodedtext %>
