<div class='container mx-auto rounded-lg shadow-lg columns-1 lg:columns-2 font-montserrat text-bgray'>
  <div class='container px-3'>
    <h1 data-aos="fade-right" data-aos-duration="800" data-aos-delay="600" class='container py-20 mx-auto text-3xl font-bold text-center sm:text-left'>
      <%= t('.title') %>
    </h1>
    <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="300" class ='font-serif italic text-justify'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum omnis accusantium illum explicabo modi quam exercitationem temporibus corporis, saepe ratione repellendus neque assumenda molestiae magni non laudantium eum maiores.</p>
  </div>
  <div data-aos="fade-left" data-aos-duration="800" class='container'>
    <%= image_tag('home/banner/industrial1.jpg', :class => "contrast-75 object-cover min-h-full rounded-r-lg")%>
  </div>
</div>
