<div class='container mx-auto columns-1 lg:columns-2 border-slate-200 border-8 rounded-br-lg'>
  <div class='container pl-5'>
    <h1 class='container mx-auto py-20 font-sans text-3xl font-bold'>
      <%= t('.title') %>
    </h1>

    <p class ='font-serif text-justify pr-4 italic'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum omnis accusantium illum explicabo modi quam exercitationem temporibus corporis, saepe ratione repellendus neque assumenda molestiae magni non laudantium eum maiores.</p>
  </div>

  <div class='container'>
    <%= image_tag('home/banner/industrial1.jpg', :class => "object-cover min-h-full")%>
  </div>
</div>