<h1>Bienvenidos a Comerciales Sistemas Comerciales</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum omnis accusantium illum explicabo modi quam exercitationem temporibus corporis, saepe ratione repellendus neque assumenda molestiae magni non laudantium eum maiores.</p>

<h2>Sobre nosotros</h2>

<div>
  <h2>Venta de maquinas</h2>
  <%= image_tag('home/image1.jpg')%>
  <p>Todo tipo de maquinas para implementar en su negocio.</p>
</div>

<div>
  <h2>Capacitacion</h2>
  <%= image_tag('home/image2.jpg')%>
  <p>Uso adecuado de las maquinas</p>
</div>

<div>
  <h2>Servicio tecnico</h2>
  <%= image_tag('home/image3.jpg')%>
  <p>Reparacion y mantencion de balanzas, moledoras de carne, cortadoras de cesina, entre otras.</p>
</div>

