/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */


 input{
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  [data-aos] {
    pointer-events: auto !important;
  }
  html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    opacity: 1 !important;
  }
  html:not(.no-js) [data-aos^=flip][data-aos^=flip] {
    opacity: 1 !important;
  }
  html:not(.no-js) [data-aos=fade-up] {
    transform: none !important;
  }
  html:not(.no-js) [data-aos=fade-right] {
    transform: none !important;
  }
  html:not(.no-js) [data-aos=fade-left] {
    transform: none !important;
  }
  html:not(.no-js) [data-aos=fade-up] {
    transform: none !important;
  }
  html:not(.no-js) [data-aos=flip-up] {
    transform: none !important;
  }
}