<div id="<%= dom_id category %>" class="grid grid-cols-3 p-1 font-sans font-medium bg-white border-t-4 gap-x-1">
  <div>
    <%= category.name %>
  </div>
  <div class="flex justify-end">
    <div class="px-1 font-semibold text-white rounded-md bg-lb hover:bg-lbd">
      <%= link_to t('.edit'), edit_category_path(category) %>
    </div>
  </div>
  <div class="flex justify-end">
    <div class="px-1 text-white bg-red-600 rounded-md hover:bg-red-700">
      <%= link_to t('.destroy'), category_path(category), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
