<div id="<%= dom_id category %>" class="grid grid-cols-3 gap-x-1 border-t-4 bg-white p-1 font-sans font-medium">
  <div>
    <%= category.name %>
  </div>

  <div class="flex justify-end">
    <div class="bg-lb hover:bg-lbd rounded-md px-1 font-semibold text-white">
      <%= link_to t('.edit'), edit_category_path(category) %>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="rounded-md bg-red-600 px-1 text-white hover:bg-red-700">
      <%= link_to t('.destroy'), category_path(category), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>