<div class="flex justify-center font-montserrat">
  <div class="w-auto">
      <h1 class="text-bgray text-left text-2xl font-medium py-4 antialiased"><%= t('.title') %></h1>
      <div class="bg-slate-200 p-2 rounded-lg">

      <div>
        <%= render partial: 'category', collection: @categories %>
      </div>

      <div class="flex justify-start">
        <div class="bg-lb hover:bg-lbd font-medium rounded-b-lg text-center p-1 text-white">
          <%= link_to t('.new'), new_category_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-20"></div>
