<div class="font-montserrat flex justify-center">
  <div class="w-auto">
    <h1 class="text-bgray py-4 text-left text-2xl font-medium antialiased"><%= t('.title') %></h1>
    <div class="rounded-lg bg-slate-200 p-2">
      <div>
        <%= render partial: 'category', collection: @categories %>
      </div>

      <div class="flex justify-start">
        <div class="bg-lb hover:bg-lbd rounded-b-lg p-1 text-center font-medium text-white">
          <%= link_to t('.new'), new_category_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-20"></div>