<% unless @product.id.nil? %>
  <div>
    <div class="px-10 py-5 rounded-lg bg-slate-200">
      <div class= "text-lg font-medium" font-light pb-1">
        <%= t('.delete_attachement') %>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <% @product.images.each do |image| %>
          <div data-controller="imagedelete" class="rounded-md animated bg-slate-200 800 h-max w-28">
            <%= image_tag(image, class: "object-scale-down h-24 w-full bg-white")%>
            <%= button_to t('.remove'), delete_image_attachment_product_path(image.id), method: :delete, data: { action: "imagedelete#dismiss"}, class: " rounded-b-lg bg-red-700 text-white hover:bg-red-600 w-full"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>