<div class="flex justify-center mt-auto" data-aos="fade-up" data-aos-duration="1000">
  <div id="backToTop" class="bottom-0 px-4 py-0.5 text-white rounded-full form-medium bg-dgreen p-1font-bold" data-controller="backToTop">
    <button data-action="click->backToTop#up">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
      </svg>
    </button>
  </div>
</div>