<div id="carouselExampleControls" class="relative h-full carousel slide" data-bs-ride="carousel">
  <div class="relative h-full overflow-hidden bg-white carousel-inner w-96">
    <div class="relative float-left carousel-item active w-96">
      <%= image_tag @product.photo, class: "object-scale-down w-full max-h-96 rounded-t-lg"%>
    </div>
    <% @product.images.each do |image| %>
      <div class="relative float-left carousel-item w-96">
        <%= image_tag(image, class: "object-scale-down w-full max-h-96 rounded-t-lg")%>
      </div>
    <% end %>
  </div>
  <button
    class= "absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="inline-block bg-no-repeat rounded-lg bg-lbd carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="inline-block bg-no-repeat rounded-lg bg-lbd carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
