<% if @product.photo.attached? %>
  <button
  type="button"
  data-bs-target="#carouselExampleControls"
  data-bs-slide-to="0"
  class="active"
  aria-current="true"
  aria-label="Slide 1"
  >
    <%= image_tag @product.photo, class: "object-scale-down w-full max-h-20"%>
  </button>
<% end %>
<% (0...@product.images.count).each do |image|%>
  <% if !@product.images[0].nil? %>
    <button
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide-to="<%= "#{image+1}"%>"
    class="active"
    aria-current="true"
    aria-label="Slide <%= "#{image+2}"%>"
    >
      <%= image_tag @product.images[image], class: "object-scale-down w-full max-h-20"%>
    </button>
  <% end %>
<% end %>
