<%= link_to products_path(category_id: category.id), class: 'category' do %>
  <div class="w-full px-1 font-sans text-center text-white border rounded border-grey-light bg-lb hover:bg-lbd">
    <%= category.name %>
  </div>
<% end %>
