<%= link_to products_path(category_id: category.id), class: 'category' do %>
  <div class="block border border-grey-light w-full rounded bg-slate-300 font-sans text-center hover:bg-slate-500">
    <%= category.name %>
  </div>
<% end %>