<%= link_to products_path(category_id: category.id), class: 'category' do %>
  <div class="block border border-grey-light w-full rounded bg-dgreen font-sans text-center text-white hover:bg-slate-500 px-1">
    <%= category.name %>
  </div>
<% end %>