<%= link_to products_path(category_id: category.id), class: 'category' do %>
  <div class="block border border-grey-light w-full rounded bg-lb hover:bg-lbd font-sans text-center text-white px-1">
    <%= category.name %>
  </div>
<% end %>